.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  background-color: #eef4f7;
  font-family: 'Roboto';
}

.travel-heading {
  color: #334155;
  margin-bottom: 0px;
}

.horizontal-line {
  width: 15vw;
  height: 4px;
  background-color: #52bbf0;
  margin-top: 0px;
}

.locations-container {
  width: 100%;
  min-height: 100vh;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.locations-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}